<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DatingWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>servlets.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/pages/homePersonal.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>servlets.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfileServlet</display-name>
    <servlet-name>ViewProfileServlet</servlet-name>
    <servlet-class>servlets.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfileServlet</servlet-name>
    <url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPersonalInfo</display-name>
    <servlet-name>ViewPersonalInfo</servlet-name>
    <servlet-class>servlets.ViewPersonalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPersonalInfo</servlet-name>
    <url-pattern>/ViewPersonalInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOffServlet</display-name>
    <servlet-name>LogOffServlet</servlet-name>
    <servlet-class>servlets.LogOffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOffServlet</servlet-name>
    <url-pattern>/LogOffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>servlets.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMessagesServlet</display-name>
    <servlet-name>ViewMessagesServlet</servlet-name>
    <servlet-class>servlets.ViewMessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMessagesServlet</servlet-name>
    <url-pattern>/ViewMessagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TmporaryChat</display-name>
    <servlet-name>TmporaryChat</servlet-name>
    <servlet-class>servlets.TmporaryChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TmporaryChat</servlet-name>
    <url-pattern>/TmporaryChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProbaServlet</display-name>
    <servlet-name>ProbaServlet</servlet-name>
    <servlet-class>servlets.ProbaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProbaServlet</servlet-name>
    <url-pattern>/ProbaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopTenServlet</display-name>
    <servlet-name>TopTenServlet</servlet-name>
    <servlet-class>servlets.TopTenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopTenServlet</servlet-name>
    <url-pattern>/TopTenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitializeCityAndGenderServlet</display-name>
    <servlet-name>InitializeCityAndGenderServlet</servlet-name>
    <servlet-class>servlets.InitializeCityAndGenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeCityAndGenderServlet</servlet-name>
    <url-pattern>/InitializeCityAndGenderServlet</url-pattern>
  </servlet-mapping>
</web-app>